.Label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  min-width: none;
  margin: 20px auto;
}

.Label h1 {
  font-size: 50px;
}
.Label button {
  min-width: 10%;
  margin: 0 auto;
}

.Label p{
  max-width: 100%;
  text-align: center;
  margin: 0 40px;
  font-size: larger;

}