
.hero_content {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  height: calc(100vh - 72px);
}

.hero h1 {
  font-weight: 800;
  font-size: 108px;
  line-height: 102px;
  margin-bottom: 10px;
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  word-wrap: break-word;
  word-break: break-all;
  width: 69%;
}

.hero_btn {
  display: flex;
  gap: 40px;
  margin: 10px 0px;
}

.Secondary_btn {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}

.Secondary_btn:hover{
  background-color: rgb(110, 109, 109);
  color: whitesmoke;
}

.shopping p {
  font-size: 14px;
  margin-bottom: 10px;
}

.hero_container {
  display: flex;
  flex-direction: column;
}

.Hero_image {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
  cursor: pointer;

  scale: 110%;
  transition: all ease 0.5s;
}
.Hero_image:hover {
  scale: 130%;
  transition: all ease 0.5s;
  rotate: 40deg;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.feet {
  color: rgb(13, 110, 247);
}

.feet:hover {
  color: rgb(0, 140, 255);
}

.best {
  color: rgb(228, 75, 20);
}

.best:hover {
  color: rgb(255, 68, 0);
}

.secondary_btn{
  background-color: rgb(39, 170, 231);
  color: rgb(255, 255, 255);

}

.unknown_container{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  min-height: 500px;
  justify-content: space-between;
  padding: 7rem;
  flex-wrap: wrap;
  gap: 4rem;


}

