
*{

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-left: 40px;
}

.card_box{
    display: flex;
    max-width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: none ;
    padding: 1rem;
    gap: 3rem;
    border-radius: 0.4rem;
    box-shadow: gray 0.2rem 0.6rem 0.6rem;
    transition: all ease 0.3s;
    cursor: pointer;
    margin-top: 10px;

}

.card_box:hover{
    transform: scale(105%);
}

.card_description .card_description_info{
    font-weight: 500;
    text-align: left;
    text-rendering: optimizeSpeed;
    text-overflow: clip;
    word-wrap: break-word;
    letter-spacing: 0px;
}

.card_buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 25px;
}

.card_buttons button{
    outline: none;
    padding: 0.6rem 3rem;
    cursor: pointer;
    font-size: medium;
    text-align: justify;
    border: none;
    border-radius: 0.3rem;
    transition: all ease 0.3s;
    margin-top: 1rem;
}



.card_buttons .card_buy_button{
    background-color: rgb(213, 16, 16);
    color: white;

}

.card_buttons .card_addtocart_button{
    color: whitesmoke;
    background-color: rgb(42, 107, 226);
}

.card_description{
    display: flex;
    min-height: 150px;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.card_description span{
    font-weight: bold;
    margin-top: 1.5rem;
}

.card_img img{
    min-height: 200px;
    
}
